.branch-list ul {
  padding-left: 20px;
  padding-right: 20px;
}

.branch-list li {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.branch-list__links-separator {
  padding-left: 4px;
  padding-right: 4px;
}
