.breadcrumbs {
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  color: #3D9970;

  & + li  {
    margin-left: 8px;
  }
}

.breadcrumbs a,
.breadcrumbs span {
  font-size: 14px;
}

.breadcrumbs a {
  color: #FF851B;
}
