extends layout.pug

block header
  - const commitUrl = commit !== undefined ? `/${commit}` : '';
  div.app__trees
    include includes/breadcrumbs.pug
    div.app__branch-name= `${branch} ${commit || ''}`

block content
  div.app__content.--file-structure
    pre= fileData
