extends layout.pug

block header
  div.app__trees
    div.app__trees-label Список веток:
    ul.branch-list
      each branch in branchArr
        li
          span= branch
          div.branch-list__links
            a(href=`/commits/${branch}`) коммиты
            span.branch-list__links-separator /
            a(href=`/tree/${branch}`) файлы
