html
  head
    title= mainTitle

    meta(charset="UTF-8")
    meta(name="description" content="")

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    meta(property="og:image" content="path/to/image.jpg")
    link(rel="icon" href="img/favicon/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")

    meta(name="theme-color" content="#3D9970")

    link(rel="stylesheet" href="css/style.min.css")
  body
    block content
    script(src="js/bundle.js")
